{% extends 'base.html' %}
{% load static %}
{% block body%}
{%include 'header.html' %}

{% block metalar %}	
		
		<meta name="description" content="{{sosyal.isim.isim}} Hakkındaki Haberler">
		<meta name="keywords" content="{{sosyal.isim.isim}}, {{sosyal.konu.isim}}">
		<meta name="author" content="{{sosyal.isim.isim}}">
{% endblock%}


<title>{% block title %} {{sosyal.isim.isim}} {% endblock %}</title>


<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ilk reklamım -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6571504885082244"
     data-ad-slot="5020519599"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

<div class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#genel">{{sosyal.isim}}</a></li>
		
	</ul>
		
				  <div class="row">
			
			
			<div class=" col-xs-12 col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
					
					
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
					<h5 class="ert"><b>{{sosyal.isim.isim}}:</b> "{{sosyal.content1|truncatechars:200}}".</h5>	
					
					
				</div>
				<div class="text-justify"> <p> {{sosyal.content2|safe }}<p>   </div>
			
				</div>
				{% include 'home/comment.html' %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
			
			
			<div class=" col-xs-12 col-md-6 col-sm-6"> <!-- Kim Ne Demiş Köşesi başı -->
					{% for sosyal in sosyaller %}
					
					<div class="media">
					<div class="media-left media-top">
						<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="...">
					</div>
					<div class="media-body">
					<h5 class="ert"><b>{{sosyal.isim.isim}}:</b> "{{sosyal.content1|truncatechars:200}}".</h5>	
					
					
				</div>
				<div class="abc text-justify"> <p> {{sosyal.content2|safe }}<p>   </div>
				
				</div>
					{% include 'home/buttons.html' %}
					{% include 'home/yorum.html' %}
				{% endfor %}
				
				{% include 'home/sayfalama.html' %}
			</div><!-- Kim Ne Demiş Köşesi sonu -->
			
		</div>
		
		
</div>
	
<script>
$(document).ready(function(){
    $(".media").click(function(){
        $(this).children('.abc').toggle();
    });
    
	 $(".yorumlar").click(function(){
		 if($(this).text()!=0){
				$(this).next().toggle();
		 }
		 
        
    });
	
});

</script>

{% endblock %}