<ul class="nav nav-tabs ikinci-tabs">
	<li class="active"><a data-toggle="tab" href="#yazı1" title ="Futbolzade Köşe Yazıları">FZ</a></li>
	<li ><a data-toggle="tab" href="#fikstur" title ="Haftanın Maçları">Maç</a></li>
	<li ><a data-toggle="tab" href="#golgenel" title = "Gol Krallığı">Gol</a></li>
	<li ><a data-toggle="tab" href="#asistgenel" title = "Asist Krallığı">Asist</a></li>
	<li ><a data-toggle="tab" href="#kartgenel" title = "Sarı ve Kırmızı Kart Tablosu">Kart</a></li>
</ul>
<div class="tab-content">

	<div id="yazı1" class="tab-pane fade in active ">
	{% for yazi in yazılar %}
		<div class="kenar well well-sm">
			<h3>{{yazi.yazının_baslıgı}}</h3>
			<div class="truncate text-justify"><p>{{yazi.ana_content|safe|truncatechars:240}}</p></div>
			<div class="gizli text-justify"><p>{{yazi.ana_content|safe}}</p></div>
			<p class="text-center"><b>---{{yazi.yazar.isim}}---</b></p>
		</div>
			{% endfor %}
	{% for sosyal in sosyaller1 %}
		<div class="media">
			<div class="media-left media-top">
				<img class="media-object" src="{{ sosyal.isim.image.url }}" alt="{{sosyal.isim.isim}}">
			</div>
			<div class="media-body">
				<h5 class="ert"><b>{{sosyal.isim.isim}}:</b> "{{sosyal.content1 |truncatechars:200}}".</h5>	
			</div>
			<div class="abc"> <p> {{sosyal.content2|safe|linebreaks }}</p>
				<p><b><small>{{sosyal.publishing_date|timesince}} önce</b></small></p>
			</div>
				
		</div>
	{% include 'home/buttons.html' %}
	{% include 'home/yorum.html' %}	
	{% endfor %}
			
	</div>
	<div id="fikstur" class="tab-pane fade">
	{% include 'home/tv_fikstur.html' %}						
	</div>
	
	<div id="golgenel" class="tab-pane fade">
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-5">Futbolcu</td>
					<td class="col-md-5">Takım</td>
					<td class="col-md-1">Maç</td>
					<td class="col-md-1">Asist</td>
					<td class="col-md-1">Gol</td>
					
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in gol %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					<td> {{futbolcu.takım.isim}}</td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
				
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
	<div id="asistgenel" class="tab-pane fade">
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-5">Futbolcu</td>
					<td class="col-md-5">Takım</td>				
					<td class="col-md-1">Maç</td>
					<td class="col-md-1">Gol</td>
					<td class="col-md-1">Asist</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in asist %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					<td> {{futbolcu.takım.isim}}</td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>

	<div id="kartgenel" class="tab-pane fade">
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-4">Futbolcu</td>
					<td class="col-md-4">Takım</td>
					<td class="col-md-1">Sarı</td>
					<td class="col-md-2">Kırmızı</td>
					<td class="col-md-1">Maç</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in kartlar %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					<td> {{futbolcu.takım.isim}}</td>
					<td class="text-center"> {{futbolcu.sarıkart_sayısı}} </td>
					<td class="text-center"> {{futbolcu.kırmızı_sayısı}} </td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
		
</div>
			
