{% extends 'base.html' %}
{% load static %}
{% block csss %} rel="stylesheet" href="{% static 'css/ligler/style.css' %}"  {% endblock %}
{% block body%}
{% include 'header.html'%}
<div class="container">

<div class="col-md-12 col-sm-12 col-xs-12">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ilk reklamım -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6571504885082244"
     data-ad-slot="5020519599"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="row">
	<!-- col-md-8 -->
		<div class="col-md-8 col-md-push-2 col-sm-12"> <!-- Genel Navbar -->
		
		<!-- Slider main container -->

<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#genel" title ="Futbol Haberleri"><i class="fa fa-home" aria-hidden="true"></i></a></li>
				<li><a data-toggle="tab" href="#BJK" title = "Beşiktaş Haberleri">BJK</a></li>
				<li><a data-toggle="tab" href="#FB" title = "Fenerbahçe Haberleri">FB</a></li>
				<li><a data-toggle="tab" href="#GS" title = "Galatasaray Haberleri">GS</a></li>
				<li><a data-toggle="tab" href="#TS" title = "Trabzonspor Haberleri">TS</a></li>
				
			</ul>
<div class="tab-content">

	<div id="genel" class="tab-pane fade in active ">
	<h3 class="border-bottom border border-white">Fikstür</h3>
	
	{% include 'home/tv_fikstur.html' %}
			<h3>Gol Krallığı</h3>
	
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-5">Futbolcu</td>
					<td class="col-md-5">Takım</td>
					<td class="col-md-1 text-center">Maç</td>
					<!--<td class="col-md-1">Asist</td>-->
					<td class="col-md-1 text-center">Gol</td>
					
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in gol %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					<td> {{futbolcu.takım.isim}}</td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<!--<td class="text-center"> {{futbolcu.asist_sayısı}} </td>-->
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
				
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	<h3>Asist Krallığı</h3>
	<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-5">Futbolcu</td>
					<td class="col-md-5">Takım</td>				
					<td class="col-md-1 text-center">Maç</td>
					<!--<td class="col-md-1">Gol</td>-->
					<td class="col-md-1 text-center">Asist</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in asist %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					<td> {{futbolcu.takım.isim}}</td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<!--<td class="text-center"> {{futbolcu.gol_sayısı}} </td>-->
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	
	
	</div>
	<div id="BJK" class="tab-pane fade">
		<h3 class="border-bottom border border-white">Fikstür</h3>
		{% include 'home/bjk_fikstur.html' %}
		
	
	
			<h3>Gol Krallığı</h3>
	
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Asist</td>
					<td class="col-md-2 text-center">Gol</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in golbjk %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	<h3>Asist Krallığı</h3>
	<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Gol</td>
					<td class="col-md-2 text-center">Asist</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in asistbjk %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
		<h3>Kart Tablosu</h3>
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Sarı</td>
					<td class="col-md-2 text-center">Kırmızı</td>
					<td class="col-md-2 text-center">Maç</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in kartlarbjk %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.sarıkart_sayısı}} </td>
					<td class="text-center"> {{futbolcu.kırmızı_sayısı}} </td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
	
	<div id="FB" class="tab-pane fade">
		<h3 class="border-bottom border border-white">Fikstür</h3>
		{% include 'home/fb_fikstur.html' %}
		
	
	
			<h3>Gol Krallığı</h3>
	
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Asist</td>
					<td class="col-md-2 text-center">Gol</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in golfb %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	<h3>Asist Krallığı</h3>
	<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Gol</td>
					<td class="col-md-2 text-center">Asist</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in asistfb %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
		<h3>Kart Tablosu</h3>
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Sarı</td>
					<td class="col-md-2 text-center">Kırmızı</td>
					<td class="col-md-2 text-center">Maç</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in kartlarfb %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.sarıkart_sayısı}} </td>
					<td class="text-center"> {{futbolcu.kırmızı_sayısı}} </td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
	
	<div id="GS" class="tab-pane fade">
		<h3 class="border-bottom border border-white">Fikstür</h3>
		{% include 'home/gs_fikstur.html' %}
		
	
	
			<h3>Gol Krallığı</h3>
	
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Asist</td>
					<td class="col-md-2 text-center">Gol</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in golgs %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	<h3>Asist Krallığı</h3>
	<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Gol</td>
					<td class="col-md-2 text-center">Asist</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in asistgs %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
		<h3>Kart Tablosu</h3>
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Sarı</td>
					<td class="col-md-2 text-center">Kırmızı</td>
					<td class="col-md-2 text-center">Maç</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in kartlargs %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.sarıkart_sayısı}} </td>
					<td class="text-center"> {{futbolcu.kırmızı_sayısı}} </td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
	
	
	<div id="TS" class="tab-pane fade">
		<h3 class="border-bottom border border-white">Fikstür</h3>
		{% include 'home/ts_fikstur.html' %}
		
	
	
			<h3>Gol Krallığı</h3>
	
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Asist</td>
					<td class="col-md-2 text-center">Gol</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in golts %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	<h3>Asist Krallığı</h3>
	<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Maç</td>
					<td class="col-md-2 text-center">Gol</td>
					<td class="col-md-2 text-center">Asist</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in asistts %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
					<td class="text-center"> {{futbolcu.gol_sayısı}} </td>
					<td class="text-center"> {{futbolcu.asist_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
		<h3>Kart Tablosu</h3>
		<table  class="table table-bordered ">
			<thead>
				<tr>
					<td class="col-md-6">Futbolcu</td>
					
					<td class="col-md-2 text-center">Sarı</td>
					<td class="col-md-2 text-center">Kırmızı</td>
					<td class="col-md-2 text-center">Maç</td>
				</tr>
			</thead>
			<tbody>
			{% for futbolcu in kartlarts %}
				<tr class="success">
				
					<td> {{futbolcu.isim}} </td>
					
					<td class="text-center"> {{futbolcu.sarıkart_sayısı}} </td>
					<td class="text-center"> {{futbolcu.kırmızı_sayısı}} </td>
					<td class="text-center"> {{futbolcu.mac_sayısı}} </td>
				
				</tr>
			{% endfor %}	
			</tbody>
		</table>
	</div>
		
</div>
		</div> <!-- col md-12 sonu alttaki genel navbar-->
	</div><!-- ilk row sonu -->		
</div>	
<script src="{% static 'js/ligler/home.js'%}"></script>
{% endblock %}