body {
	padding:55px;
	font-family: 'Roboto';
	background-color:black;
	color:white;
	font-weight:bold;	
}

.rr{
	margin-top:5px;
}

.nav>.yaz {
	display:none;
}
.reklam {
	margin-top:10px;
	margin-bottom:10px;
}
.far {
	color:black;
    text-shadow: 1px 1px 1px #ccc;
    font-size:22px;
}
.fa-home{
	padding-top:3px;
	padding-bottom:3px;
}

.nav .open>a{
	color:black;
}

.navbar-inverse .navbar-brand {
    color: #fcf8e3;
	font-family: 'Lobster', cursive;
	font-size:22px;
	border:none;
}

.nav>li>a{
	padding:6px 10px;
	color:white;
}

.nav>li>a:hover{
	padding:6px 10px;
	color:black;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
	padding:15px 15px;
}

table {
	background-color:mediumseagreen;
	color:black;
	margin-top:10px;
}

.ayir{
	display:none;
}


.well {
	color:black;
	
}

.well-sm{
	padding-top:0;
	padding-bottom:0;
	
	
	}
.fiks {
	margin-top:20px;
	
}
h3 {
	margin-top:5px;
}

.kenar {
	margin-top:10px;
	cursor:pointer;
	margin-bottom:13px;
	background-color:white;
	border-radius:2px;
	color:black;
}


.gizli {
	display:none;
}
.thumbnail img { 
	
	width:100%;
 }
 
 .ikinci-tabs, .bjk-tabs{
	 margin-top:15px;
	 margin-bottom:15px;
 }
 .media {
	 background-color:#0c0b0b;
	 margin-top:15px;
	 cursor:pointer;
	 border-color:grey;
 }
 
 .media:first-child {
	 margin-top:15px;
 }
 
 .media-body {
	 cursor:pointer;
 }
 

 h2 {
	 padding-top:0;
	 margin-top:0;
	 font:bold;
 }
.foter {
     border-top:solid;
	 border-top-color:white;
     color: white;
     padding: 15px;
	 margin-top:10px;
    }
	
h4{
	font-weight:bold;
}
.abc{
	display:none;
}

tr {
	font-size:14px;
}

p {
	font-weight:normal;
}

.aaa{
	display:none;
	cursor:pointer;
}

.list-group-item{
	background-color:white;
	color:black;
	border-radius:4px;
}
.resim {
	display:inline-block;
	margin-left:4px;
	padding:4px;
}
.logolar{
	margin-top:5px;

}
.btn {
	margin-right:5px;
}
.kkkk{
	position:relative;
	display:inline-block;
	margin-bottom:20px;
	
}

.eee{
	position:absolute;
	bottom:-16px;
	left:21px;
}

.bbb { 
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
	max-width:100%;
	border:ridge;
	padding:17px;
	padding-top:0;
	padding-bottom:0;
	margin-bottom:8px;

}

.bbb::-webkit-scrollbar{

background-color:black;
} 

.bbb::-webkit-scrollbar-thumb{
background-color:#B03C3F;
border-radius:10px;
}
.bbb::-webkit-scrollbar-thumb:hover{
background-color:#BF4649;
border:1px solid #333333;
}
.bbb::-webkit-scrollbar-thumb:active{
background-color:#A6393D;
border:1px solid #333333;
} 
.mac{
	border:solid;
	border-color:black;
	margin-bottom:5px;
}
.nav>.ekstra-link {
	display:none;
}
@media (max-width: 767px) {

.col-md-5{
	display:none;
}

}

@media (min-width: 768px)
.navbar-left {
  
}
