body {
	
	padding-top: 55px;
	font-family: 'Roboto';
	background-color:black;
	color:white;
	font-weight:bold;	
}

.fa-home{
	padding-top:3px;
	padding-bottom:3px;
}

.far {
	color:black;
    text-shadow: 1px 1px 1px #ccc;
    font-size:22px;
}
.rr{
	margin-top:5px;
}
.navbar-inverse .navbar-brand {
    color: #fcf8e3;
	font-family: 'Lobster', cursive;
	font-size:22px;
}

.nav>li>a{
	padding:6px 10px;
	color:white;
}

.nav>li>a:hover{
	padding:6px 10px;
	color:black;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
	padding:15px 15px;
}

table {
	background-color:mediumseagreen;
	color:black;
	margin-top:10px;
}

.ayir{
	display:none;
}


.well {
	color:black;
	
}

.well-sm{
	padding-top:0;
	padding-bottom:0;
	
	
	}
.fiks {
	margin-top:20px;
	
}
h3 {
	margin-top:5px;
}




.gizli {
	display:none;
}
.foter {
     border-top:solid;
	 border-top-color:white;
     color: white;
     padding: 15px;
	 margin-top:10px;
    }
	
h4{
	font-weight:bold;
}
.abc{
	display:none;
}

tr {
	font-size:14px;
}

p {
	font-weight:normal;
}


.mac{
	border:solid;
	border-color:black;
	margin-bottom:5px;
}
